@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Топливная база</h1>
    <img src="~/Images/main.jpg" />
    
    </div>
Учет прихода и расхода топлива, горючесмазочных материалов и нефтепродуктов

